*.iml
*.ipr
*.iws
*.ids

wellness-desktop/.idea/**
wellness-desktop/.gradle/**
wellness-desktop/build/**
wellness-desktop/out/**

wellness-mobile/.idea/**
wellness-mobile/.gradle/**
wellness-mobile/local.properties
wellness-mobile/build/**
