*.iml
*.ipr
*.iws
*.ids

tnt-auth-desktop/.idea/**
tnt-auth-desktop/.gradle/**
tnt-auth-desktop/build/**
tnt-auth-desktop/out/**

tnt-auth-mobile/.idea/**
tnt-auth-mobile/.gradle/**
tnt-auth-mobile/gradle/**
tnt-auth-mobile/gradlew
tnt-auth-mobile/gradlew.bat
tnt-auth-mobile/local.properties
tnt-auth-mobile/build/**
